# Capstone Project 1 Machine Learning/Forecasting

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 10, 6

In [4]:
df = pd.read_csv('../data/by_zip.csv', index_col = [0,1], header=[0], parse_dates=True)
df.head()

                       1996-04-01  1996-05-01  1996-06-01  1996-07-01  \
CountyName RegionName
Alameda    94501         222400.0    222300.0    222400.0    222600.0
           94502         223600.0    223100.0    222600.0    222200.0
           94536         223200.0    223200.0    223300.0    223400.0
           94538         193200.0    193400.0    193700.0    194100.0
           94539         327100.0    327600.0    328700.0    330600.0

                       1996-08-01  1996-09-01  1996-10-01  1996-11-01  \
CountyName RegionName
Alameda    94501         223000.0    223600.0    224500.0    225700.0
           94502         221800.0    221400.0    221300.0    221100.0
           94536         223700.0    224200.0    225000.0    226000.0
           94538         194700.0    195500.0    196500.0    197600.0
           94539         333100.0    336300.0    340100.0    344500.0

                       1996-12-01  1997-01-01     ...      2017-08-01  \
CountyName RegionName                             ...
Alameda    94501         227400.0    229400.0     ...          970400
           94502         221300.0    221800.0     ...          876300
           94536         227400.0    229100.0     ...          963200
           94538         199000.0    200700.0     ...          880900
           94539         349200.0    354200.0     ...         1592800

                       2017-09-01  2017-10-01  2017-11-01  2017-12-01  \
CountyName RegionName
Alameda    94501           982900      994200     1003400     1012700
           94502           885000      897300      903700      906500
           94536           973000      984100      996400     1010700
           94538           890800      904100      919500      935800
           94539          1604800     1621900     1640700     1659300

                       2018-01-01  2018-02-01  2018-03-01  2018-04-01  \
CountyName RegionName
Alameda    94501          1027300     1042800     1052400     1054800
           94502           913800      924200      923600      921000
           94536          1030900     1052700     1066600     1079100
           94538           955800      976100      989000      998900
           94539          1685100     1713300     1729500     1736000

                       2018-05-01
CountyName RegionName
Alameda    94501          1054100
           94502           921400
           94536          1092200
           94538          1008300
           94539          1742000

[5 rows x 266 columns]

In [13]:
alameda = df.loc['Alameda',]
contra_costa = df.loc['Contra Costa']
marin = df.loc['Marin',]
napa = df.loc['Napa',]
santa_clara = df.loc['Santa Clara',]
san_fran = df.loc['San Francisco',]
san_mateo = df.loc['San Mateo',]
sonoma = df.loc['Sonoma',]
solano = df.loc['Solano',]